<div *ngIf="movie">
  <h2>{{movie.Title | uppercase}} Данные</h2>
  <div><span>imdbID: </span>{{movie.imdbID}}</div>
  <div>
    <label>Id:
      <input [(ngModel)]="movie.id" placeholder="Id"/>
    </label>
    <br/>
    <label>Title:
      <input [(ngModel)]="movie.Title" placeholder="Title"/>
    </label>
    <br/>
    <label>Year:
      <input [(ngModel)]="movie.Year" placeholder="Year"/>
    </label>
    <br/>
    <label>imdbID:
      <input [(ngModel)]="movie.imdbID" placeholder="imdbID"/>
    </label>
    <br/>
    <label>Type:
      <input [(ngModel)]="movie.Type" placeholder="Type"/>
    </label>
    <br/>
    <label>Poster:
      <input [(ngModel)]="movie.Poster" placeholder="Poster"/>
    </label>
  </div>
  <button (click)="goBack()">Назад</button>
  <button (click)="save()">Сохранить</button>
</div>
