<h2>Моя коллекция</h2>

<div>
  <label>Title:
    <input #movieTitle />
  </label>
  <br/>
  <label>imdbID:
    <input #movieimdbID />
  </label>
  <br/>
  <button (click)="add(movieTitle.value, movieimdbID.value); movieTitle.value=''; movieimdbID.value=''">
    Добавить
  </button>
</div>

<ul class="movies">
  <li *ngFor="let movie of movies">
    <a routerLink="/detail/{{movie.id}}">
      <span class="badge">{{movie.imdbID}}</span> {{movie.Title | slice:0:10}}
    </a>
    <button class="delete" title="delete movie"
      (click)="delete(movie)">x</button>
  </li>
</ul>
