<div id="search-component">
  <h4>Поиск</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let movie of movies$ | async" >
      <a routerLink="/detail/{{movie.id}}">
        {{movie.Title | slice:0:20}}
      </a>
    </li>
  </ul>
</div>
