<h3>Популярные фильмы</h3>
<div class="grid grid-pad">
  <a *ngFor="let movie of movies" class="col-1-4"
      routerLink="/detail/{{movie.id}}">
    <div class="module movie">
      <h4>{{movie.Title}}</h4>
    </div>
  </a>
</div>

<app-movie-search></app-movie-search>
